doctype html
//HTML5 boilerplate
html(lang="#{htmlWebpackPlugin.options.title}")
    head
        -var title = htmlWebpackPlugin.options.title
        -var themeColor = htmlWebpackPlugin.options.themeColor
        -var isCordova = htmlWebpackPlugin.options.isCordova
        title= title
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
        meta(name="msapplication-tap-highlight" content="no")
        //see http://content-security-policy.com/ and https://github.com/apache/cordova-plugin-whitelist#content-security-policy
        //raw loader will load txt as it is
        meta(http-equiv="Content-Security-Policy" content= require('raw!contentSecurityPolicy.txt'))

        meta(name="theme-color" content=themeColor)
        meta(name="msapplication-TileColor" content=themeColor)
        //Add reference to cordova.js if it is not webpack dev server
        if isCordova
            script(src="cordova.js")
        body
        block body_content