extend ./html5.jade

block body_content
    //This is the main app container
    div.app-container.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        header.mdl-layout__header
            div.mdl-layout__header-row
                span.mdl-layout-title!= title
                div.mdl-layout-spacer
                button.about-app.mdl-button.mdl-js-button.mdl-button--icon
                    i.material-icons info_outline
        main.mdl-layout__content
            section.page.mdl-grid

                div.container.mdl-cell.mdl-cell--12-col
                    h4
                        i.material-icons list
                        |  Discovered elements
                    ul.targets-list.mdl-list

                div.controls.mdl-cell.mdl-cell--12-col
                    button.scan-qr.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored
                        i.material-icons linked_camera
                        |  Scan QR
                    button.clear-all.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
                        i.material-icons clear
                        | Clear All
                div.start-message
                    h5.qr-only Press scan button
                    h5.nfc-and-qr Press scan button or tap a NFC tag

    dialog.mdl-dialog.info-popup