div.mdl-dialog__content
    h5!= title
    p!= description
    ul.mdl-list
        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                b Version
                span.mdl-list__item-sub-title!= appVersion

        li.mdl-list__item.mdl-list__item--two-line
            span.mdl-list__item-primary-content
                b Build Date
                span.mdl-list__item-sub-title!= buildDate

        if cordova
            li.mdl-list__item.mdl-list__item--two-line
                span.mdl-list__item-primary-content
                    b Cordova Version
                    span.mdl-list__item-sub-title!= cordova.version
        if device
            li.mdl-list__item.mdl-list__item--two-line
                span.mdl-list__item-primary-content
                    b Platform
                    span.mdl-list__item-sub-title #{device.platform} #{device.version}
            li.mdl-list__item.mdl-list__item--two-line
                span.mdl-list__item-primary-content
                    b Model
                    span.mdl-list__item-sub-title!= device.model
            
div.mdl-dialog__actions
    button(type="button").mdl-button.close.mdl-button--colored Close