//Template for list items
li.mdl-list__item
    span.mdl-list__item-primary-content
        i.material-icons.mdl-list__item-icon!= item.icon
        if item.isUrl
            a(href="#{item.content}" target="_blank")!= item.content
        else
            span!= item.content
        