//Import MDL fonts (not shipped with Material Design Lite!)
$roboto-font-path: '../../node_modules/roboto-fontface/fonts';
@import '../../node_modules/roboto-fontface/css/roboto-fontface.scss';
$material-design-icons-font-path:'../../node_modules/material-design-icons-iconfont/dist/fonts/';
@import '../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss';
//These Sass functions are needed because MDL stylesheets uses a string based color variable
//convention
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function hexToRGBString($hexColor) {
    // 0.999999 val in alpha actually compiles to 1.0
    $rgbaVal: inspect(rgba($hexColor, 0.9999999));
    $first: str-replace($rgbaVal, 'rgba(', '');
    @return str-replace($first, ', 1)', '');
}

@function rgba-tpl($color, $alpha) {
    @if type-of($color)==color {
        @return rgba($color, $alpha);
    }
    @else {
        @return unquote("rgba(#{$color}, #{$alpha})");
    }
}

//Basic MDL theme overrides
//More fine tuning can be made on some MDL components
//by setting proper values to variables defined in material-design-lite/src/_variables.scss  
$primaryColor:#512DA8;
$primaryDarkColor:#201243;
$accentColor: #FFAB4A;
$textColor: #222222;
$text-color-primary: $textColor;
$color-primary: hexToRGBString($primaryColor);
$color-primary-dark: hexToRGBString($primaryDarkColor);
$color-accent: hexToRGBString($accentColor);
@import '../../node_modules/material-design-lite/src/material-design-lite.scss';
$padding:8px; //default in MDL
$doublePadding: 2 * $padding;
$ctrlHeight: 64px;
main.mdl-layout__content {
    display: flex;
    height: calc(100% - #{$ctrlHeight});
    max-height: calc(100% - #{$ctrlHeight});
    section.page.mdl-grid {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: calc(100% - #{$doublePadding});
        max-height: calc(100% - #{$doublePadding});
        .container {
            height: calc(100% - #{$ctrlHeight});
            max-height: calc(100% - #{$doublePadding});
            ul {
                height: calc(100% - 116px);
                overflow-y: auto;
                //break links if needed
                .mdl-list__item-primary-content {
                    a, span {
                        max-width: calc(100% - 56px);
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        /* This is the dangerous one in WebKit, as it breaks things wherever */
                        word-break: break-all;
                        /* Instead use this non-standard one: */
                        word-break: break-word;
                        /* Adds a hyphen where the word breaks, if supported (No Blink) */
                        hyphens: auto;
                    }
                }
            }
        }
        .controls {
            height: $ctrlHeight;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}

div.start-message {
    $maxWidth: 500px;
    $maxHeight: 300px;
    position: absolute;
    width: 100%;
    max-width: $maxWidth;
    height: $maxHeight;
    top: calc(50% - #{$maxHeight * 0.5});
    background-color: $primaryDarkColor;
    color: white;
    @media screen and (max-width: $maxWidth - 1) {
        left: 0;
    }
    @media screen and (min-width: $maxWidth) {
        left: calc(50% - #{$maxWidth * 0.5});
    }
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease-in-out;
}

//Hide message depending on app initialization
.qr-only {
    .nfc-and-qr {
        display: none;
    }
}

.nfc-and-qr {
    .qr-only {
        display: none;
    }
}

//Dialog patch
.mdl-dialog {
    div.mdl-dialog__content {
        overflow: auto;
        //Tale buttons and padding into account
        max-width: calc(100vw - 28px);
        max-height: calc(100vh - 130px);
        ul {
            margin: 0;
            li.mdl-list__item--two-line {
                padding: 0;
                height: auto;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}